doctype
html(lang='jp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width', 'initial-scale'='1')
    title TK_07-client
    meta(name='title', content='TK_07-client')
    meta(name='og:title', content='TK_07-client')
    meta(name='description', content='TK_07-client')
    meta(name='keywords', content='TK_07-client')
    meta(property='og:type', content='website')
    meta(property='og:description', content='TK_07-client')
    meta(property='og:site_name', content='TK_07-client')
    meta(property='og:url', content='')
    link(rel='stylesheet' href='assets/bootstrap.min.css')
    link(rel='stylesheet' href='assets/font-awesome.min.css')
    link(rel='stylesheet' href='assets/index.css')

  body
    #react-root
    script(src='assets/index.js')  
